services:
  - type: web
    name: flowernet-verifier
    env: docker
    region: singapore
    plan: free
    dockerfilePath: ./Dockerfile
    dockerContext: .
    envVars:
      - key: PORT
        value: 8000
      - key: VERIFIER_PUBLIC_URL
        value: https://flowernet-verifier.onrender.com
    healthCheckPath: /
